@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    --white: #FFFFFF;
    --black: #000000;
    --live: #FF0000;
    --vshojo-pink: #F50F75;
    --vshojo-dark-gray: #2A2A2A;
    --vshojo-light-gray: #707070;
}

*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins', sans-serif;
    background-color: var(--white);
}

h1,
h2,
h3{
    font-weight:600;
    margin-bottom:2rem;
}

a{
    text-decoration:none;
    color:var(--vshojo-pink);
}

ul{
    list-style:none;
}

img{
    max-width:100%;
    height:auto;
    vertical-align:middle;
    font-style:italic;
    background-repeat:no-repeat;
    background-size:cover;
    shape-margin:.75rem;;
}

.flex{
    display:flex;
}

.grid{
    display:grid;
}

/* ==================== MERCH CSS ==================== */



::-webkit-scrollbar{
    width:0.5rem;
    background-color:#101010;
    border-radius:1rem;
}

::-webkit-scrollbar-thumb{
    background-color:#3b3c40;
    border-radius:1rem;
}

@media (max-width:1920px){
    /* ==================== FOOTER CSS ====================  COPY ALL SITES*/
    .footer{
        background:var(--vshojo-dark-gray);
        color:var(--white);

        padding-top:3.125rem;
        padding-bottom:3.125rem;

        overflow-x:hidden;
    }

    .footer-content{
        max-width:1780px;
        width:100%;

        margin-left:auto;
        margin-right:auto;
    }

    /*===== Footer list items CSS =====*/
    .socials-list-items{
        display:flex;
        flex-direction:column;
        align-items:center;
        gap:1.125rem;
    }

    .links-list-items{
        display:flex;
        flex-direction:column;
        gap:.5rem;
    }

    .socials-list-items{
        margin-right:1.75rem;
    }

    h3.footer-titles{
        margin-bottom:.75rem;
    }

    .contact-logo > img{
        margin-bottom:.75rem;
    }

    /*===== Footer list CSS =====*/
    .contact-list{
        margin-left:auto;
    }

    .socials-list{
        padding-left:3rem;
    }

    .links-list-items > li > a{
        color:var(--white);
    }

    .contact-address{
        display:block;
        width:120px;
        line-height:115%;
    }

    .footer-titles{
        color:var(--vshojo-light-gray);
        font-weight:400;
    }

    /*===== Footer list After:Elements CSS =====*/
    .socials-list > .footer-titles:first-child::after{
        display: block;
        content: "\2014";
        line-height: .25rem;
    }

    .contact-list > .footer-titles:first-child::after{
        display: block;
        content: "\2014";
        line-height: .25rem;
    }

    .links-list > .footer-titles:first-child::after{
        display: block;
        content: "\2014";
        line-height: .25rem;
    }

    /* ==================== Naviagation CSS ====================  COPY ALL SITES*/
    .nav {
        margin-top:2.25rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: calc(3.5rem + 1.5rem);
        column-gap: 3rem;
    }

    .container {
        max-width: 1750px;
        width:100%;
        margin-left: auto;
        margin-right: auto;
        padding-right:1rem;
        padding-left:1rem;
    }

    .nav__menu {
        margin-left: auto;
    }

    .nav__list {
        display:flex;
        flex-direction:row;
        column-gap:3.5rem;
        row-gap:1.5rem;
    }

    .nav-img{
        height:200px;
        width:130px;
        object-fit:contain;
    }
}
