@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    --white: #FFFFFF;
    --black: #000000;
    --live: #FF0000;
    --vshojo-pink: #F50F75;
    --vshojo-dark-gray: #2A2A2A;
    --vshojo-light-gray: #707070;
}

*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins', sans-serif;
    background-color: var(--white);
}

h1,
h2,
h3{
    font-weight:600;
    margin-bottom:2rem;
}

a{
    text-decoration:none;
}

ul{
    list-style:none;
}

li{
    display:inline;
}

.grid{
    display:grid;
}

.Talent-show{
    margin-top:2.5rem;
    margin-bottom:2.5rem;
    grid-template-columns:repeat(6, 2fr);
}

.Talent-card{
    overflow-x:hidden;
}

.Talent-img-Henya{
    height:997px;
    width:349px;
    object-fit:cover;
    background: #413853;
}

.Talent-img-Hajime{
    height:997px;
    width:349px;
    object-fit:cover;
    background: #442c17;
}   

.Talent-img-Apricot{
    height:997px;
    width:349px;
    object-fit:cover;
    background: #153906;
}

.Talent-img-Matara{
    height:997px;
    object-fit:cover;
    background: #31252b;
}

.Talent-img-Haruka{
    height:997px;
    width:349px;
    object-fit:cover;
    background: #1c2a1e;
}

.Talent-img-Mouse{
    height:997px;
    width:349px;
    object-fit:cover;
    background: #f7a4bf;
}

::-webkit-scrollbar{
    width:0.5rem;
    background-color:#101010;
    border-radius:1rem;
}

::-webkit-scrollbar-thumb{
    background-color:#3b3c40;
    border-radius:1rem;
}
