@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    --white: #FFFFFF;
    --black: #000000;
    --live: #FF0000;
    --vshojo-pink: #F50F75;
    --vshojo-dark-gray: #2A2A2A;
    --vshojo-light-gray: #707070;
}

html{
    scroll-behavior:smooth;
}

body{
    background-color: var(--white);
}

ul,
li{
    list-style:none;
}

li{
    display:inline;
}

a{
    text-decoration:none;
}
