@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    --white: #FFFFFF;
    --black: #000000;
    --live: #FF0000;
    --vshojo-pink: #F50F75;
    --vshojo-dark-gray: #2A2A2A;
    --vshojo-light-gray: #707070;
    --background-color:#FFD4FA;
}

*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins', sans-serif;
    background:linear-gradient(var(--white),var(--background-color) 100vh);
}

h1,
h2,
h3{
    font-weight:600;
    margin-bottom:2rem;
}

a{
    text-decoration:none;
    color:var(--vshojo-pink);
}

ul{
    list-style:none;
}

img{
    max-width:100%;
    height:auto;
    vertical-align:middle;
    font-style:italic;
    background-repeat:no-repeat;
    background-size:cover;
    shape-margin:.75rem;;
}

/* ==================== TALENTS CSS ==================== */

.grid{
    display:grid;
}

.flex{
    display:flex;
}

.section{
    max-width:960px;

    margin-left:auto;
    margin-right:auto;
}

.Talent-overview{
    margin-top:5.5rem;
    justify-content:space-between;
}

/* ==================== TALENT OVERVIEW ==================== */

.section-title{
    font-size: 5rem;
    font-weight:600;
    letter-spacing: -.125rem;
    line-height: 95%;

    max-width:440px;
}

.section-text{
    max-width:440px;
    font-size: 1.5rem;
    line-height:125%;

    margin-top:1rem;
}

/* ==================== ROOT SOCIAL COLORS ==================== */

:root{
    --Geega-color:#521830;
    --Matara-color:#ba5da4;
    --Haruka-color:#A2DCA9;
    --Henya-color:#BEAEDB;
    --Kson-color:#E55198;
    --Melody-color:#4EE0FA;
    --Hajime-color:#FDEDE0;
    --Apricot-color:#95F262;
    --Iron_Mouse-color:#FF6799;
    --Nazuna-color:#6458C9;
}

/* ==================== SOCIAL STYLES ==================== */

.Talent-socials{
    gap:1rem;
    flex-direction:column;
    justify-content:center;
}

.Talent-social-img-twitch{
    padding:.35rem;
    border:3px solid var(--white);
    border-radius:50%;

    background:var(--Geega-color);
}

.Talent-social-img-twitter{
    padding:.35rem;
    border:3px solid var(--white);
    border-radius:50%;

    background:var(--Geega-color);
}

.Talent-social-img-youtube{
    padding:.35rem;
    border:3px solid var(--white);
    border-radius:50%;

    background:var(--Geega-color);
}

/* ==================== TALENT CARD STYLES ==================== */

.Talent-show{
    max-width:1600px;
    margin-top:11.5rem;
    margin-left:auto;
    margin-right:auto;
    column-gap:5rem;
    row-gap:8rem;

    grid-template-columns:repeat(3, 1fr);
}

.Talent-area{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    row-gap:2.25rem;

    max-width:380px;
    height:412px;
}

.Talent-name{
    margin-left:auto;
    margin-right:auto;
    grid-column:2/2;
}

/* ==================== TALENT CARD GEEGA ==================== */

.talent-img-area{
    border:1px solid #000;

    border-radius:15%;

    background:url(./Mini/Geega-img-mini.png);
    background-color:#521830;
    background-repeat:no-repeat;

    object-fit:cover;
    width:302px;
    height:302px;

    box-shadow: 5px 5px 4px 4px #000;
}

.talent-speech-area{
    place-items: center;
    text-align: center;
    
    font-size: 1.2rem;
    font-weight: 600;
    
    opacity: 0;
    transition: opacity .2s ease-in-out;
    will-change: opacity;

    border-radius:15%;
    height:inherit;

    background: #ffffffc0;
    padding: 1.2rem;
}

.talent-speech-area:hover{
    transition: opacity .2s ease-in-out;
    will-change: opacity;
    opacity:1;
}

p.talent-speech{
    color:var(--vshojo-dark-gray);
}

/* ==================== Naviagation CSS ==================== */

/* header{
    width: 100%;
    background-color: var(--vshojo-dark-gray);
    top:0;
    left:0;
    z-index:100;
    transition:.4s;
    padding-top:.5rem;
}  */
/* For Static Nav-bar */


.nav {
    margin-top:2.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: calc(3.5rem + 1.5rem);
    column-gap: 3rem;
}

.container {
    max-width: 1750px;
    margin-left: auto;
    margin-right: auto;
}

.nav__menu {
    margin-left: auto;
}

.nav__list {
    display:flex;
    flex-direction:row;
    column-gap:3.5rem;
    row-gap:1.5rem;
}

.nav-img{
    height:200px;
    width:130px;
    object-fit:contain;
}

::-webkit-scrollbar{
    width:0.5rem;
    background-color:#101010;
    border-radius:1rem;
}

::-webkit-scrollbar-thumb{
    background-color:#3b3c40;
    border-radius:1rem;
}
